.trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}

.site-layout .site-layout-background {
    background: #fff;
}

.loginFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ant-menu-item-active {
    background-color: #fac898 !important;
}

.ant-menu-item-selected {
    background-color: #db9683 !important;
}

.ant-btn:hover {
    color: #db9683 !important;
    border-color: #db9683 !important;
}
